[GENERAL]
config_name = vrc.config
tb_name = 
rmdbdir = (%RMDBDIR%)
work_dir = work
modelsimini = modelsim.ini
wave_size_limit = 2000
script_ver = dev
questa_ver = 2022.1
visualizer_ver = 2022.1
vrun_ver = 2022.1
qvip_ver = 2022.1
close_gui = 0
color = 0

[COMMANDS]
pre_compile_cmd = 
pre_compile_design_cmd = set design_src ../../../design
compile_design_cmd = do compile_design.do
post_compile_design_cmd = 
compile_vips_cmd = 
pre_compile_env_cmd = 
compile_env_cmd = do compile_env.do
post_compile_env_cmd = 
post_compile_cmd = 
wave_log_cmd = log -r /*
pre_test_cmd = 

[OPT_VSIM_ARGS]
vopt_libraries_args = 
vopt_genenv_libs = 
vopt_default_args = 
vopt_debug_args = +acc -debugdb
vopt_codecov_args = +cover=bfse+/${GENERAL:TB_NAME}/dut. +cover=t+/${GENERAL:TB_NAME}/dut -toggleportsonly -nofsmresettrans
vopt_visual_args = -debug,livesim -designfile visualizer_top.bin
vopt_genenv_libraries_args = 
vsim_default_args = -t 1ps -permit_unmatched_virtual_intf
vsim_debug_args = -classdebug  -uvmcontrol=all -displaymsgmode both  -solvefaildebug -msgmode both
vsim_dpi_args = 
vsim_codecov_args = -coverage -fsmdebug
vsim_visual_args = -qwavedb=+class+signal+msgmode=both+displaymsgmode=both+wavefile=visualizer_qwave.db
mail_txt_args = ""
mail_html_args = ""

[RUN_OPTIONS]
test = 
seed = random
wave = wave.do
verbosity = UVM_LOW
clear_work = 1
clear_transcript = 1
new_transcript = 1
save_wave = 1
free_license = 1
questasim = 1
visualizer = 0
vrun = 0
debug_mode = 1
codecov_mode = 1
gui_mode = 1
execution_delay = 1
dummy_dut = 0
break = 0

[RUN_STAGES]
pre_compile = 1
compile_design = 1
compile_dpi = 0
compile_vips = 1
compile_env = 1
post_compile = 1
optimize = 1
simulation = 1
run_time = run -all

[REG_OPTIONS]
reg_cmd = vrun -gui -rmdb my.rmdb
testlist = testlist.tl
testplan = testplan.xml
new_vrmdata = 1
triage = 1
reg_seed = 1
send_mail = 1
grid = 1
trend = 1
rerun = 1
cov_report = 1
jobs = 5
delete_prev_vrmdata = 1
debug = 0

[REG_STAGES]
merge = 1
rank = 0

